:root { /*set color global variables*/
    --primary-dark: #383838;
    --primary-light: #efefef;
    --secondary-dark: #858585;
    --secondary-light: #aaaaaa;
    --blue: #1da8eb;
    --dark-blue: #0f5475;
    --black: #000000;
    --white: #ffffff;
}

*, *::before, *::after { /*css reset*/
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html { /*footer support*/
  position: relative;
  min-height: 100%;
}

body { /*overall document settings*/
    background-color: var(--primary-light);
    color: var(--primary-dark);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;

    /*footer support*/
    margin-bottom: 100px;
}


/*header*/

h1 {
    line-height: 1.2;
}

.header {
    padding: 30px 0;
}
  
.title {
    text-align: center;
    font-size: 80px;
}


/*main body*/

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    /*background image support*/
    position: relative;
}

.main::before { /*background image support*/
    content: '';
    background-image: url('https://thedoctorwhosite.co.uk/wp-images/daleks/svg/4-1964.svg');
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
    z-index: -1;
}

.container {
    background-color: var(--secondary-dark);
    width: 400px;
    height: 500px;
    border: 10px ridge var(--primary-dark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    background-color: var(--primary-light);
    margin: 1rem;
    width: 90%;
    height: 100px;
    border: 2px solid var(--dark-blue);
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 50px;
    padding-right: 2px;
}

.buttons {
    width: 90%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
}

input {
    background-color: var(--primary-light);
    border: 2px solid var(--dark-blue);
    border-radius: 1rem;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}

input:hover {
    cursor: pointer;
    background: var(--blue);
    transform: scale(1.02);
    box-shadow: 0 0 1rem var(--dark-blue);
}


/*footer*/

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

.fa-github, .fa-heart {
    color: var(--primary-dark);
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotateY(180deg) scale(1.4);
    color: var(--blue);
}

.fa-heart:hover {
    transform: scale(1.1);
    color: var(--blue);
}


/*media queries*/